body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#Wrapper
{
    max-width:1200px;
    margin:auto auto;

}
#MyHeader 
{
    margin-top:60px;
  　 
}
.assetList-table
{
    text-align:center;
}

.assetList-table th
{
     text-align:center;
     color:#0C5C7E;
     background-color:#9ACBE0;
}
.assetList-table th.title-money
{
    text-align:right;
}
.assetList-table th.title-remark
{
    width:600px;
}
.assetList-table td.remark
{   
    text-align:left;
}
/* Pager */

.pager

{

    margin: 8px 3px;

    padding: 3px;

}

.pager .disabled

{

    border: 1px solid #ddd;

    color: #999;

    margin-top: 4px;

    padding: 3px;

    text-align: center;

}

.pager .current

{

    background-color: #6ea9bf;

    border: 1px solid #6e99aa;

    color: #fff;

    font-weight: bold;

    margin-top: 4px;

    padding: 3px 5px;

    text-align: center;

}

.pager span, .pager a

{

    margin: 4px 3px;

}

.pager a

{

    border: 1px solid #aaa;

    padding: 3px 5px;

    text-align: center;

    text-decoration: none;

}

.redfont
{
  color: #880015;
  font-weight:bold;
}

.bluefont
{
  color:#104D67;
  font-weight:bold;
}